.rock {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 12px;
}

.test {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  gap: 0.7rem;
  align-items: flex-start;
  letter-spacing: -0.2px;
  color: #121212;
}

.img {
  width: 13.34rem;
  height: 13.12rem;
}

.info h1 {
  font-size: 1rem;
  font-weight: 700;
}

.para {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: center;
  letter-spacing: -0.2px;
  color: #121212;
}

.btn {
  list-style-type: none;
  display: flex;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #e8e8e8;
  border: 2px solid #e8e8e8;
  background: #4386bf;
}

.btnn {
  list-style-type: none;
  display: flex;
  width: 65px;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #e8e8e8;
  border: 2px solid #e8e8e8;
  background: #4386bf;
}
